<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-5" style="font-size: 60px;">Markdown Blog</h1>
    <a href="/articles"><button class="btn btn-secondary p-3 mb-3" style="font-size: 20px;">Get Started</button></a>
</div>